.page-title-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: var(--margin-m);
}

.page-title-container .left-circle {
    width: var(--margin-s);
    height: var(--margin-s);
    background-color: var(--primary-colour);
    border-radius: 50%; /* This creates the circle */
}

.page-title-container h1 {
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xxxl);
}

@media (max-width: 40em) {
    .page-title-container h1 {
        font-size: var(--font-size-xxl);
    }
}

.page-title-container .right-circle {
    width: var(--margin-xs);
    height: var(--margin-xs);
    background-color: var(--primary-colour);
    border-radius: 50%; /* This creates the circle */
}